
# source code
src
index.html

# compiler
tsconfig.json
vite.config.js

# files
*.log
*.code-workspace

screenshots

# tests
test
temp
jest.config.js
context-menu.test.js
setupJest.ts
coverage

#  lint
.eslintrc
.eslintignore
.prettierrc


# IDE - VSCode
.vscode

# git
.git