
# source code
src
index.html

# compiler
tsconfig.json
vite.config.js

# files
*.log
*.code-workspace

# misc
screenshots
demo
tsup.config.ts
LICENSE

# tests
test
temp
jest.config.js
context-menu.test.js
setupJest.ts
coverage
tst4

#  lint
.eslintrc
.eslintignore
.prettierrc


# IDE - VSCode
.vscode

# git
.git